{% extends './layout.html' %}
{% block title%}首页{% endblock %}
{% block scripts %}
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.0/clipboard.min.js"></script>
	<script>
        $(function(){
            $('body').css('visibility',"visible")
            new ClipboardJS('.btn');
            $('.j_tab_title div').on('click',function(){
                var index=$(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                $('.j_tab_content').eq(index).show().siblings('.j_tab_content').hide();
            })
            var bit_number={{bit_number || 0}}
            $('.input_number').on('input',function(){
                var val=Number($(this).val())
                if(val > bit_number){
                    $(this).parent().addClass('error');
                    var That=$(this)
                    setTimeout(function(){
                        That.val(delLastString(That.val()));
                    },200)
                    return false;
                }
                $(this).parent().removeClass('error');
                // var hl=0.13;
                // $('.j_money').text((val * hl).toFixed(2));
            })
            $('.input_number').on('blur',function(){
                regNumber('input_number')
            })
            $('.input_address').on('input',function(){
                regAddress('input_address')
            })
            $('.j_submit').on('click',function(){
                if(regAddress('input_address') && regNumber('input_number')){
                    $.ajax({
                        url:'/outMoney',
                        data:{
                            'address':$('.input_address').val(),
                            'number':$('.input_number').val()
                        },
                        type:'post',
                        dataType:'json',
                        success:function(result){
                            if(result.status==0){
                                alert(result.msg)
                            }else if(result.status==-2){
                                $('.j_setPassword').show();
                                error_msg(result.msg)
                            }else{
                                error_msg(result.msg)
                            }
                        },
                        error:ajax.error
                    })
                }
            })
            $('#downImg').on('click',function(){
                var useragent = navigator.userAgent.toLowerCase();
                var isWeixin = /micromessenger/i.test(useragent);
                var src=$('.codeImg').attr('src');
                if (isWeixin) {
                    location.href='{{codeUrl}}';
                }else{
                    location.href='/downloadImg?codeImg={{codeUrl}}';
                }
            })
            $('.code_input').on('click',function(){
                wx.ready(function(){
                    wx.scanQRCode({
                        needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                        scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                            alert(result)
                        }
                    });
                });
            })
            function regAddress(element){
                var ele=$('.'+element);
                if(ele.val()==''){
                    ele.focus();
                    ele.parent().addClass('error')
                    return false;
                }else{
                    ele.parent().removeClass('error')
                    return true;
                }
            }
            function regNumber(element){
                var ele=$('.'+element);
                if(ele.val()=='' || Number(ele.val())<=0 || ele.val() > bit_number){
                    ele.focus();
                    ele.parent().addClass('error')
                    return false;
                }else{
                    ele.parent().removeClass('error')
                    return true;
                }
            }
        })
        function delLastString(val){
            return val.substring(0,val.length-1)
        }
    </script>
{% endblock %}
{% block content %}
<body>
	<header class="header">
    	<a href="/getDetails" class="left">查明细</a>
    	<a href="/sendMoney" class="right">发红包</a>
    	<div class="title font_Semibold">BTC</div>
    </header>
	<section class="content">
		<div class="box1">
            <p>总资产</p>
            <div>
                <span>{{bit_number || 0}}</span>
            </div>
        </div>
		<div class="box2">
			<div class="tab_title flex font_Semibold j_tab_title">
                <div class="active">给币赞充币</div>
				<div>从币赞提币</div>
			</div>
			<div class="tab_content">
				<div class="info_tab_content j_tab_content" style="display:block;">
                    <div class="info">
                        <p class="username">Nic Zhao</p>
                        <p class="descript">用币来赞是最好的支持</p>
                        <div class="code">
                            <img src="{{codeUrl}}" class="codeImg">
                            <p>长按二维码，看看谁在用币赞</p>
                        </div>
                    </div>            
                    <div class="address">
                        <div class="separated">
                            <img src="images/logo.png" alt="">
                        </div>
                        <p class="p" id="foo">{{code}}</p>
                        <p class="p">分享赞赏码获得赞赏或向上述地址转入BTC完成充币</p>
                        <div class="btns flex">
                            <button class="btn" data-clipboard-target="#foo">复制地址</button>
                            <button id="downImg">保存图片</button>
                        </div>
                    </div>
                    <div class="log_box2">
                        <div class="title_log flex">
                            <span>即将到账的转账</span>
                            <a href="">刷新</a>
                        </div>
                        <div>
                            <div class="noLog" style="display: none;">
                                <img src="images/noLog.png" alt="">
                                <p>暂无记录</p>
                            </div>
                            <ul class="list_log">
                                <li class="flex">
                                    <div class="left_list">
                                        <span class="font_Semibold">Kold He</span>
                                        <p>0.1234354445121BTC</p>
                                    </div>
                                    <div class="right_list">
                                        <span>2018.02.12</span>
                                    </div>
                                </li>
                                <li class="flex">
                                    <div class="left_list">
                                        <span class="font_Semibold">Kold He</span>
                                        <p>0.1234354445121BTC</p>
                                    </div>
                                    <div class="right_list">
                                        <span>2018.02.12</span>
                                    </div>
                                </li>
                                <li class="flex">
                                    <div class="left_list">
                                        <span class="font_Semibold">Kold He</span>
                                        <p>0.1234354445121BTC</p>
                                    </div>
                                    <div class="right_list">
                                        <span>2018.02.12</span>
                                    </div>
                                </li>
                            </ul>
                            <p class="more" style="display:none;">点击加载更多</p>
                        </div>
                    </div>
                </div>
                <div class="j_tab_content">
                    <div class="tab_form">
                        <div class="input_group flex">
                            <label for="">发送地址</label>
                            <input type="text" placeholder="请输入要发送的BTC地址" class="input_address">
                            <i class="code_input"></i>
                        </div>
                        <div class="input_group flex">
                            <label for="">发送数量</label>
                            <input type="text" value="0.234" placeholder="请输入要发送的数量" class="input_number">
                        </div>
                        <div class="bit_tab font_Semibold">
                            <img src="images/logo_big.png" alt="">
                            <span class="j_money">{{bit_number || 0}}</span>
                        </div>
                        <p class="j_setPassword set_tab" style="display:none;">
                            请先设置提币密码，<a href="/setPassword">去设置</a>
                        </p>
                        <button class="submit_tab j_submit">确认发送</button>
                    </div>
                    <div class="log_box2">
                        <div class="title_log flex">
                            <span>正在处理中的转账</span
                            <a href="">刷新</a>
                        </div>
                        <div>
                            <div class="noLog" style="display: none;">
                                <img src="images/noLog.png" alt="">
                                <p>暂无记录</p>
                            </div>
                            <ul class="list_log">
                                <li class="flex">
                                    <div class="left_list">
                                        <span class="font_Semibold">Kold He</span>
                                        <p>0.1234354445121BTC</p>
                                    </div>
                                    <div class="right_list">
                                        <span>2018.02.12</span>
                                    </div>
                                </li>
                                <li class="flex">
                                    <div class="left_list">
                                        <span class="font_Semibold">Kold He</span>
                                        <p>0.1234354445121BTC</p>
                                    </div>
                                    <div class="right_list">
                                        <span>2018.02.12</span>
                                    </div>
                                </li>
                                <li class="flex">
                                    <div class="left_list">
                                        <span class="font_Semibold">Kold He</span>
                                        <p>0.1234354445121BTC</p>
                                    </div>
                                    <div class="right_list">
                                        <span>2018.02.12</span>
                                    </div>
                                </li>
                            </ul>
                            <p class="more" style="display:none;">点击加载更多</p>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section>
</body>
{% endblock %}