{% extends './layout.html' %}
{% block title%}修改密码{% endblock %}
{% block scripts %}
	<script>
    $(function() {
        $('body').css('visibility', "visible")
        var type=0;//0总金额，1单个红包
        $('.setMoney').on('click',function(){
            type=type==0?1:0;
            $('.j_name').text(type==0?"总金额":"单个红包")
        })
        $('#textarea').on('input',function(){
            $(this).css('color','#1A1A1A')
        })
    })
    </script>
{% endblock %}
{% block content %}
<body class="setPassword">
    <section class="bgImg">
        <div class="main">
            <div class="group_money">
                <div class="input_group flex">
                    <label class="j_name">提币密码</label>
                    <input type="text" placeholder="请输入当前提币密码">
                </div>
            </div>
            <div class="group_money">
                <div class="input_group flex">
                    <label>提币密码</label>
                    <input type="text" placeholder="请输入新的提币密码">
                </div>
            </div>
            <div class="group_money">
                <div class="input_group flex">
                    <label>确认密码</label>
                    <input type="text" placeholder="请输入新的提币密码">
                </div>
            </div>
            <button class="submit_tab">完成</button>
        </div>
    </section>
</body>
{% endblock %}