{% extends './layout.html' %}
{% block title%}修改密码{% endblock %}
{% block scripts %}
	<script>
    $(function() {
        $('body').css('visibility', "visible")
        var nowPassword=$('#nowPassword');
        var newPassword=$('#newPassword');
        var confirmPassword=$('#confirmPassword');
        function checkPassword(ele){
            if(ele.val()=="" || ele.val().length<6){
                ele.focus();
                ele.parent().addClass('error');
                return false;
            }
            ele.parent().removeClass('error');
            return true;
        }
        function passwordEq(){
            if(newPassword.val() !== confirmPassword.val()){
                error_msg('确认密码不正确')
                confirmPassword.focus();
                confirmPassword.parent().addClass('error');
                return false;
            }
            confirmPassword.parent().removeClass('error');
            return true;
        }
        function checkForm(){
            var bool=false;
            if(nowPassword.length>0){
                if(checkPassword(nowPassword) && checkPassword(newPassword) && checkPassword(confirmPassword) && passwordEq()){
                    bool=true;
                }
            }else{
                if(checkPassword(newPassword) && checkPassword(confirmPassword) && passwordEq()){
                    bool=true;
                }
            }
            return bool;
        }
        $('#submit').on('click',function(){
            if(checkForm()){
                var data={};
                if(nowPassword.length>0){
                    data['nowPassword']=nowPassword.val();
                }
                data['newPassword']=newPassword.val();
                $.ajax({
                    url:'/updatePassword',
                    data:data,
                    type:'post',
                    dataType:'json',
                    success:function(result){
                        if(result.status!=0){
                            error_msg(result.msg)
                        }else{
                            alert(result.msg)
                            setTimeout(function(){
                                window.location.href='/';
                            },2000)
                        }
                    },
                    error:ajax.error
                })
            }
        })
    })
    </script>
{% endblock %}
{% block content %}
<body class="setPassword">
    <section class="bgImg">
        <div class="main">
            {% if isPayPassword!=-2 %}
            <div class="group_money">
                <div class="input_group flex">
                    <label class="j_name">提币密码</label>
                    <input type="password" placeholder="请输入当前提币密码" id="nowPassword">
                </div>
            </div>
            {% endif %}
            <div class="group_money">
                <div class="input_group flex">
                    <label>提币密码</label>
                    <input type="password" placeholder="请输入新的提币密码" id="newPassword">
                </div>
            </div>
            <div class="group_money">
                <div class="input_group flex">
                    <label>确认密码</label>
                    <input type="password" placeholder="请输入新的提币密码" id="confirmPassword">
                </div>
            </div>
            <button class="submit_tab" id="submit">完成</button>
        </div>
    </section>
</body>
{% endblock %}